.editors {
  display: flex;
  max-width: 1630px;
}

.error > div {
  background: #fff7f7;
}

.header {
  height: 50px;
}

.header > h1 {
  display: inline-block;
  margin-top: 6px;
  margin-left: 20px;
}
