.editors-wrapper {
  display: flex;
  max-width: 1630px;
}

@media only screen and (max-width: 800px) {
  .editors-wrapper {
    display: flex;
    flex-direction: column;
  }
}

.editors-wrapper > div {
  border-bottom: 1px solid #e8e8e8;
}

.error > div {
  background: #fff7f7;
}

.header {
  height: 50px;
}

.header > h1 {
  display: inline-block;
  margin-top: 6px;
  margin-left: 20px;
}
